@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color: #343636;
  --text-dark:#998383;
  --text-light:#474545;
  --extra-light:#98a59e;
  --white:#ffffff;
  --max-width:1068px;
  --header-font:"Merriweather", serif;


}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    background-color: var(--extra-light);
  }

.contact_container{
 display: flex;
 height: 100vh;
 align-items: center;
 justify-content:space-evenly ;
}
.contact_left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}
.contact_left_title h2{
font-weight: 600;
color: var(--primary-color);
font-size: 2.5rem;
margin-bottom: 5px;
}
.contact_left_title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-bottom: 20px;

}
.contact_input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left:25px ;
    font-weight: 500;
    color: var(--text-light);
    border-radius: 50px;
}
.contact_left textarea{
    height: 140px;
    padding-top:15px ;
    border-radius: 20px;
}
.contact_input:focus{
    border: 2px solid var(--primary-color);
}
.contact-input::placeholder{
color: var(--text-light);
}

.contact_left button{
    display: flex;
    align-items:center;
    padding: 15px 30px;
    font-size: 16px;
    color: var(--white);
    gap: 10px;
    border-radius: 50px;
    background: var(--text-light);
    cursor: pointer;
}
@media(max-width:800px){
    .contact_input{
        width: 80vh;

    }
    .contact_right{
        display: none;
        
    }
}
