@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');


*{
padding: 0;
margin: 0;
box-sizing:border-box;
list-style: none;
scroll-behavior:smooth ;
text-decoration: none;


}

:root{
--text-color:#f5f5f5;
--hover-color:#12f7ff;
--bg-color: #413f40;
--secon-bg-color:#292e33;
--bg-font:2.5rem;
--norma-font:2rem;
--neon-box-shadow:0 0 .5rem #12f7ff;
--h2-font: 3rem;
--font-neon-tex-shadow:0 0 10px rgba(18,247,255, 0.3),
0 0 20px rgba(18,247,255, 0.3),
0 0 30px rgba(18,247,255, 0.3),
0 0 40px rgba(18,247,255, 0.3),
0 0 50px rgba(18,247,255, 0.3),
0 0 60px rgba(18,247,255, 0.3),
0 0 70px rgba(18,247,255, 0.3),
0 0 80px rgba(18,247,255, 0.3),
0 0 90px rgba(18,247,255, 0.3),
0 0 100px rgba(18,247,255, 0.3)
0 0 150px rgba(18,247,255, 0.3)
}

body{
font-family: "Poppins", sans-serif;
background-image: url(img/5.jpg);
background-size: cover;
background-position: center;
color: var(--text-color);
}

nav {
  display: flex;
 /* Arrange items from right to left */
  justify-content: space-between; /* Spacing between items */
  align-items: flex-start; /* Align items to the top */
  color: #f5f5f5;
  border-style: double;
  border-top: none;
  border-left: none;
  border-right: none;
  
}

.navlist {
  list-style-type: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
  
}

.navlist li {
  display: inline; /* Display list items inline */
  margin-right: 10px; /* Adjust spacing between list items */
  color: #f5f5f5;
  font-size: 20px;
  cursor: var(--hover-color);
  
  
  
}
.navlist li a{
    color: #f5f5f5;
    
}
.navlist li a:hover{
    color: aqua;
   
}

.logo {
  /* Additional styles for the logo */
  font-size: 1.5em; /* Adjust font size */
  margin-left: 30px;
 
}

.jijo{
    padding-top: 250px;
    font-size: 16px;
    color: #f5f5f5;
    padding-left: 30px;
    font-weight: bold;


}
.jijo span{
  font-size: 25px;
  font-style: oblique;
  
  
}
.jijo span:hover {
  color: #12f7ff;
  cursor: pointer;
  
  
}
.p2{
    padding-left: 30px;
    font-size: 50px;
    font-weight: bolder;
    color: #f5f5f5;
    padding-top: 15px;

}

.desc{
    padding-top: 20px;
    padding-left: 30px;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 200;
}

.btn{
margin-top: 30px;
margin-left: 30px;
padding: 10px 10px 10px 10px;
background-color: transparent;

color: #f5f5f5;
border-radius: 10px;
border-style: solid;
border-color: #f5f5f5;
text-align: center;
}

.btn:hover{
    background-color: aqua;
    transform: scale(1.2);
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: none;
  color: #f5f5f5;
  text-align: center;
  padding: 10px;
  border-style: double;
  border-bottom: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

footer:hover{
  color: #12f7ff;
}